.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navbar a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a.active {
    color: #0077c0;
    text-decoration: underline;
  }